body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: rgb(138, 8, 8); /*rgb(255, 0, 0);*/
}
h1 {
    color: white;
}

label{
    color: white;
    
}

input {
    display: block;
    margin: auto;
    margin-bottom: 15px;
    height: 40px;
    width: 230px;
}

#calcular{
    padding: 20px;
    height: 60px;
    width: 125px;
    background: darkcyan;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

#calcular:hover {
    background-color: rgb(10, 113, 113);;
}

#calcular:active {
    background: rgb(10, 113, 113);
}

form {
    background: rgb(255, 0, 0);
    margin: 15px 450px;
    padding: 20px;
}

button{
    border: 0;
    border-radius: 10px;
}

/*caja con imagenes*/

.container{
    background-color: rgb(255, 0, 0);
    padding: 50px;
    margin: 20px;
    padding-bottom: 200px;
}

.container div {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.imagenes{
    width: 385px;
    height: 300px;
    flex-direction: column;
}

h3{ 
    color: white;
}
/*boton debajo*/
#mostrar {
    padding: 20px;
    height: 70px;
    width: 125px;
    background: darkcyan;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

#mostrar:hover {
    background-color: rgb(10, 113, 113);;
}

#mostrar:active {
    background: rgb(10, 113, 113);
}

.botonPrecio {
    background: darkcyan;
    cursor: pointer;
    font-size: 25px;
    color: white;
    margin: 30px;
}

.botonPrecio:hover {
    background-color: rgb(10, 113, 113);;
}

.botonPrecio:active {
    background: rgb(10, 113, 113);
}

#miParrafo {
    display: none;
}

#reloj {
    color: white;
    text-align: justify;
    margin-left: 20px;
    background: red;
    width: 100px;
    height: 30px;
    font-size: 25px;
}

.parrafoImagen {
    color: white;
    margin: auto;
    margin-left: 10px;
}