body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: rgb(16, 32, 121);
}
h1 {
    color: white;
}

label{
    color: white;
    
}

input {
    display: block;
    margin: auto;
    margin-bottom: 15px;
    height: 40px;
    width: 230px;
}

#calcular{
    padding: 20px;
    height: 60px;
    width: 125px;
    background: darkcyan;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

#calcular:hover {
    background-color: rgb(10, 113, 113);;
}

#calcular:active {
    background: rgb(10, 113, 113);
}

form {
    background: rgb(53, 102, 158);
    margin: 15px 450px;
    padding: 20px;
}

button{
    border: 0;
    border-radius: 10px;
}

/*caja con imagenes*/

.container{
    background-color: rgb(27, 24, 173);
    padding: 50px;
    margin: 20px;
    padding-bottom: 135px;
}

.container div {
    display: flex;
    justify-content: space-between;
}

.imagenes{
    width: 450px;
    height: 315px;
    flex-direction: column;
}

/*boton debajo*/
#mostrar {
    padding: 20px;
    height: 70px;
    width: 125px;
    background: darkcyan;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

#mostrar:hover {
    background-color: rgb(10, 113, 113);;
}

#mostrar:active {
    background: rgb(10, 113, 113);
}

.botonPrecio {
    background: darkcyan;
    cursor: pointer;
    font-size: 25px;
    color: white;
    width: 180px;
    margin-left: 130px;
    margin-top: 60px;
}

.botonPrecio:hover {
    background-color: rgb(10, 113, 113);;
}

.botonPrecio:active {
    background: rgb(10, 113, 113);
}

#miParrafo {
    display: none;
}